<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5555/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="hibernate.show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="entity.User"/>
        <mapping class="entity.Role"/>
    </session-factory>
</hibernate-configuration>